body {
  overflow: hidden; }

.wrapper {
  margin-left: 20px;
  margin-right: 20px; }

#greeting {
  font-family: Helvetica, sans-serif;
  color: #F24A70;
  font-size: 200px;
  cursor: pointer; }

#greeting:hover {
  font-size: 200px; }

/* #greeting:hover {
  font-size: 203px;
} */
#aboutinfo, #projectsinfo, #contactinfo {
  font-family: Helvetica, sans-serif;
  color: #D8D8D8;
  font-size: 200px;
  text-align: right;
  margin-right: 10px; }

#home, #about, #projects, #contact {
  height: 100vh; }

.abouttext, .projectstext, .contacttext {
  font-family: Helvetica, sans-serif;
  margin-right: 50px; }

.flex-container-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.flex-container-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 20px; }

#topbar {
  visibility: hidden; }

#navbar {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  color: #D8D8D8;
  font-size: 50px;
  text-align: right;
  margin-right: 10px;
  margin-top: -10px;
  padding-top: 15px;
  position: fixed;
  width: 97%;
  background-color: white; }

ul {
  font-family: Helvetica, sans-serif;
  color: #D8D8D8;
  margin: 5px 10px; }

li {
  display: inline;
  text-decoration: none;
  color: #D8D8D8;
  padding: 5px;
  margin-right: 5px; }

a {
  text-decoration: none;
  display: inline;
  color: #D8D8D8;
  padding: 5px;
  font-size: 50px; }

a:hover {
  color: #F24A70; }

#burger {
  display: block; }

#artcollector1 {
  width: 350px;
  height: auto;
  box-shadow: none;
  cursor: pointer; }

#acdescription {
  display: inline-block; }

#discovermycity1 {
  width: 350px;
  height: auto;
  cursor: pointer; }

#dmcdescription {
  display: inline-block; }

.fa {
  color: #D8D8D8; }

.fa:hover {
  color: #F24A70; }

@media all and (max-width: 1250px) {
  .wrapper {
    margin-left: 15px;
    margin-right: 15px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 160px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 160px; }

  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 160px;
    text-align: right;
    margin-right: 10px; }

  #home, #about, #projects, #contact {
    height: 100vh; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }

  .flex-container-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 25px; }

  #topbar {
    visibility: hidden; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 30px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 30px; }

  #burger {
    display: block; }

  #artcollector1 {
    width: 300px;
    height: auto;
    box-shadow: none; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 300px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }
@media all and (max-width: 1050px) {
  .wrapper {
    margin-left: 15px;
    margin-right: 15px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 140px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 140px; }

  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 140px;
    text-align: right;
    margin-right: 10px; }

  #home, #about, #projects, #contact {
    height: 100vh; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }

  .flex-container-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 25px; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 30px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  #topbar {
    visibility: hidden; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 30px; }

  #burger {
    display: block; }

  #artcollector1 {
    width: 250px;
    height: auto;
    box-shadow: none; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 250px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }
@media all and (max-device-width: 1024px) {
  .wrapper {
    margin-left: 10px;
    margin-right: 10px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 140px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 140px; }

  /* #greeting:hover {
    font-size: 203px;
  } */
  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 140px;
    text-align: right;
    margin-right: 15px; }

  #home, #about, #projects, #contact {
    height: 100vh; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse; }

  .flex-container-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 30px; }

  #topbar {
    visibility: hidden; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 25px; }

  #burger {
    display: block; }

  #artcollector1 {
    width: 250px;
    height: auto;
    box-shadow: none; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 250px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }
@media all and (max-width: 950px) {
  .wrapper {
    margin-left: 12px;
    margin-right: 12px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 100px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 100px; }

  /* #greeting:hover {
    font-size: 203px;
  } */
  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 100px;
    text-align: left;
    margin-right: 10px; }

  #home, #about, #projects, #contact {
    height: 175%; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: inline-block;
    align-items: center;
    flex-direction: row; }

  .flex-container-left {
    display: inline-block;
    align-items: left;
    flex-direction: row; }

  #topbar {
    visibility: hidden; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 25px; }

  #burger {
    display: block; }

  #artcollector1 {
    width: 300px;
    height: auto;
    box-shadow: none; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 300px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }
@media all and (max-width: 768px) {
  .wrapper {
    margin-left: 5px;
    margin-right: 5px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 95px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 95px; }

  /* #greeting:hover {
    font-size: 203px;
  } */
  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 100px;
    text-align: left;
    margin-right: 10px; }

  #home, #about, #projects, #contact {
    height: 175%; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: inline-block;
    align-items: center;
    flex-direction: row; }

  .flex-container-left {
    display: inline-block;
    align-items: center;
    flex-direction: row; }

  #topbar {
    visibility: hidden; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 25px;
    text-align: right;
    margin-right: 10px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 25px; }

  #burger {
    color: #D8D8D8;
    font-size: 25px;
    text-align: right;
    margin-right: 15px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    background-color: white; }

  .fa-bars {
    padding: 5px 20px;
    margin-right: 10px; }

  #menuItems {
    width: 65px;
    display: none;
    position: absolute;
    text-align: right;
    margin-left: 65%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.9); }

  #menuItems ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px;
    padding: 5px; }

  #menuItems li {
    display: block;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  #menuItems a {
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    font-size: 15px; }

  #menuItems a:hover {
    color: #F24A70; }

  #artcollector1 {
    width: 300px;
    height: auto;
    box-shadow: none; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 300px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }
@media all and (max-width: 400px) {
  .wrapper {
    margin-left: 5px;
    margin-right: 5px; }

  #greeting {
    font-family: Helvetica, sans-serif;
    color: #F24A70;
    font-size: 85px;
    cursor: pointer; }

  #greeting:hover {
    font-size: 85px; }

  #aboutinfo, #projectsinfo, #contactinfo {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 85px;
    text-align: top;
    margin-right: 10px; }

  #home, #about, #projects, #contact {
    height: 200%; }

  .abouttext, .projectstext, .contacttext {
    font-family: Helvetica, sans-serif; }

  .flex-container-right {
    display: inline-block;
    align-items: center;
    flex-direction: row; }

  .flex-container-left {
    display: inline-block;
    align-items: center;
    flex-direction: row; }

  #topbar {
    visibility: hidden; }

  #navbar {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 97%;
    background-color: white; }

  ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px; }

  li {
    display: inline;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  a {
    text-decoration: none;
    display: inline;
    color: #D8D8D8;
    padding: 5px;
    font-size: 20px; }

  #burger {
    color: #D8D8D8;
    font-size: 25px;
    text-align: right;
    margin-right: 15px;
    margin-top: -10px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    background-color: white; }

  .fa-bars {
    padding: 5px 20px;
    margin-right: 10px; }

  #menuItems {
    width: 65px;
    display: none;
    position: absolute;
    text-align: right;
    margin-left: 65%;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.9); }

  #menuitems ul {
    font-family: Helvetica, sans-serif;
    color: #D8D8D8;
    margin: 5px 10px;
    padding: 5px; }

  #menuitems li {
    display: block;
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    margin-right: 5px; }

  #menuitems a {
    text-decoration: none;
    color: #D8D8D8;
    padding: 5px;
    font-size: 15px; }

  #menuitems a:hover {
    color: #F24A70; }

  #artcollector1 {
    width: 250px;
    height: auto; }

  #acdescription {
    display: inline-block; }

  #discovermycity1 {
    width: 250px;
    height: auto; }

  #dmcdescription {
    display: inline-block; }

  .fa {
    color: #D8D8D8; }

  .fa:hover {
    color: #F24A70; } }

/*# sourceMappingURL=main.css.map */
